body {
    background-image: url("/images/effect.gif");
    background-repeat: repeat;
    margin: 0px;
}

main {
    display: flex;
    margin: 48px;
    width: calc(100% - 96px);
    height: calc(100vh - 96px);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
}

.navitem {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-kerning: normal;
    justify-content: center;
    align-items: center;
    width: max-content;
    transition: 0.3s;
}

.navitem:hover {
    transform: rotate(-3deg);
    scale: 1.1;
    filter: brightness(1.5)
}

.navitem h2 {
    font-family: JetBrains Mono;
    text-decoration: none;
    font-size: 24px;
    margin: 0px;
}

nav {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
}

p {
    font-family: Figtree;
    color: white;
    font-size: 15px;
    opacity: 0.7;
    margin: 0px;
}

div a {
    font-family: Figtree;
    color: white;
    font-size: 15px;
    opacity: 0.7;
    margin: 0px;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}