body {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    background-color: #5935FB;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 14px;
    justify-content: center;
    align-items: center;
    color: white;
}

main h3 {
    font-size: 32px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin: 0px;
    font-family: 'IBM Plex Sans', 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar {
    display: inline-flex;
    padding: 17px 28px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 36px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    background: rgba(131, 103, 255, 0.50);
    box-shadow: 0 4px 22.2px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);
    color: #FFF;
    text-align: center;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
    transition: 0.3s;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar a:hover {
    scale: 1.05;
    font-weight: 800;

}

.navbar:hover {
    background: rgba(157, 135, 255, 0.5);
}

footer {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: #00000094;
}