body {
    background-color: black;
    color: white;
    font-family: IBM Plex Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    text-decoration: none;
    opacity: 0.75;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.25s;
}

nav {
    display: flex;
    flex: auto;
    gap: 40px;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
    row-gap: 10px;
    padding-bottom: 20px;
}

.logobar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 810px;
    padding: 10%;
    padding-bottom: 20px;
    padding-top: 40px;
}

h4 {
    font-size: 14px;
    opacity: 0.25;
    font-weight: 450;
}

.navbarbuttonhome:hover {
    opacity: 1;
    color: #ff7777;
}

.navbarbuttonabout:hover {
    opacity: 1;
    color: #ff9e77;
}

.navbarbuttonblog:hover {
    opacity: 1;
    color: #ffdf77;
}

.navbarbuttonscratch:hover {
    opacity: 1;
    color: #adff77;
}

.navbarbuttonbsky:hover {
    opacity: 1;
    color: #77adff;
}

.navbarbuttontiktok:hover {
    opacity: 1;
    color: #ff77ff;
}

.navbarbuttontech:hover {
    opacity: 1;
    color: #b777ff;
}

.navbarbuttoncontact:hover {
    opacity: 1;
    color: #ffffff;
}

nav a:hover {
    scale: 1.1;
    transform: rotate(5deg);
}

